@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;  
    max-height: 100vh;
    max-width: 100vh;; 
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(38, 38, 38);
    box-shadow: 0px 6px 19px rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}
.n_logo {
    height: auto;
    width: auto;
    margin-left: 10px;
    max-height: 50px;
    max-width: 250px;
}
header .navbar ul {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: grey;
}
header .navbar ul li a:hover {
    background: grey;
    color: white;
}
header .navbar ul li ul {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: white;
    color: black;
    display: none;
}
header .navbar ul li ul li {
   width:100%;
}
header .navbar ul li:hover > ul {
    display: initial;
}
.container {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent .img {
    height: auto;
    width: auto;
    margin-left: 10px;
    max-height: 50px;
    max-width: 250px;
}
#grid {
    max-width: 28vw;
    max-height: 28vh;
}
.parent { 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px 10px;
    margin-top: 80px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas:
      "grid1 grid1 grid2 grid2 grid3 grid3"
      "grid4 grid4 grid5 grid5 grid5 grid5"
      "grid6 grid6 grid6 grid6 grid6 grid6"
      "grid7 grid7 grid7 grid8 grid8 grid8"
      "grid9 grid9 grid9 grid10 grid10 grid10"
      "grid9 grid9 grid9 grid11 grid11 grid11";
  }
  
  .grid1 {
    grid-area: grid1;
  }

  
  .grid2 { grid-area: grid2; }
  
  .grid3 { grid-area: grid3; }
  
  .grid4 { grid-area: grid4; }
  
  .grid5 { grid-area: grid5; }
  
  .grid6 { grid-area: grid6; }
  
  .grid7 { grid-area: grid7; }
  
  .grid8 { grid-area: grid8; }
  
  .grid9 { grid-area: grid9; }
  
  .grid10 { grid-area: grid10; }
  
  .grid11 { grid-area: grid11; }
  
h1 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    font-size: 14px;
    text-align: center;
    justify-content: center;
}
.box1 {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    background-color: white;
    color: black;
    padding: 18px;
    font-size: 15px;
    align-items: center;
}
.box2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 18px;
    font-size: 15px;
    align-items: center;
}
.box3 {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 15px;
    align-items: center;
}
.profile {
    display: flex;
    flex-direction: row;
    margin: 25px;
    margin-left: 55px;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: grey;
    align-items: left;
    padding: 2;
    object-fit: cover;
    height: 20px;
}
canvas {
    border: 1px solid black;
}
.side1 {
    width: 100%;
    height: 100%;
}
.side2 img {
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.side2 video {
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-weight:lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blogpic {
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.first {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.first > a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.second {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.second > a {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 5px;
}
.copyright {
    margin: 10px;
}
.first > h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight:499;
    text-align: center;
}
.second > h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight:499;
}
#magicBox {
    display: none;
}
table, td {
    border: 1px solid black;
}
.f3 {
    color: green;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 100vw;
    }
    .container {
        max-width: 100vw;
        max-height: 100vh;
    }
    .box1 {
        flex-direction: row;
        font-size: 17px;
        margin: 50px;
        margin-top: 80px;
        width: auto;
        justify-content: space-between;
    }
    .box2 {
        flex-direction: row;
        font-size: 17px;
        width: auto;
        justify-content: space-between;
    }
    .box2 > .side1 {
        margin-left: 25px;
        margin-right: 25px;
        width: 50%;
        height: 50%;
    }
    .box2 > .side2 {
        margin-left: 25px;
        width: 50%;
        height: 50%;
    }
    .side1 {
        width: 50%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .side2 img {
        padding: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .side2 video {
        padding: 20;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .name {
        text-align: center;
    }
    .blogs {
        flex-direction: row;
    }
    .blogpic {
        padding: 0;
        object-fit: cover;
        width: 250px;
        height: 200px;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
        position: relative;
        left: 0;
        bottom: 0;
        margin-top: auto;
    }
    .first > a {
        justify-content: left;
        text-align: left;
    }
    .first > h1 {
        margin: 10px;
        text-align: left;
    }
    .copyright {
        align-items: flex-end;
    }
}